doctype html
html
  head
    title Login Page
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/stylesheets/login.css")
  body
    .container
      h1 Login
      form(action="/login", method="post")
        .form-group
          label(for="email") Email:
          input#email.form-control(type="email", name="email", required)
        .form-group
          label(for="password") Password:
          input#password.form-control(type="password", name="password", required)
        .form-group
          input.btn.btn-primary(type="submit", value="Login")
      .register-link
        p Not registered?
        a(href="/registerViews") Register
