extends layout

block content
    h1 Address Book

    form(action="/addressBook", method="post")
        input(type="text", name="searchkey", placeholder="Search by name")
        button(type="submit") Search
    br 
    br
    form(action="/add", method="post")
        input(type="text", name="name", placeholder="Name" , required)
        input(type="email", name="email", placeholder="Email", required)
        input(type="text", name="phone", placeholder="Phone", required)
        button(type="submit") Add Contact
    br
    br

    each contact in contacts
        div(class="box")
            h4= contact.name
            a(href='mailto:' + contact.email) #{contact.email}
            p= contact.phone

    