body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.box {
  width: 200px;
  height: 150px;
  border-radius: 10px;
  border: 1px #000 solid;
  padding: 10px;
  margin: 10px;
  float: left;
}